footer {
  padding: 66px 120.313px 58px 121.094px;
  color: white;
  background-color: black;

  @include min1080 {
    padding: 66px 464px 29px 463px;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      color: #fff;
      text-align: center;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%; /* 17.112px */
    }

    @include min1080 {
      gap: 28.56px;

      li {
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34.224px;
      }
    }
  }
}
