header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1340px;
  margin: auto;

  @include min1080 {
    @include withMax(1440, 1240);
    padding-top: 45px;
    padding-bottom: 50px;
  }

  nav {
    width: 190px;
  }

  ul {
    display: flex;
    gap: 26px;
    justify-content: flex-end;
    li a {
      color: #ff6060;
      text-align: right;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 17.112px;
    }
  }

  div svg {
    width: 145px;
    height: 46.881px;
  }

  @include min1080 {
    nav {
      width: 309px;
    }

    div svg {
      width: 210.322px;
      height: 68px;
    }

    ul {
      gap: 57px;

      li a {
        color: #ff6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 34.224px;
      }
    }
  }
}

.active {
  border-bottom: 1px solid #ff6060;
}

.pending {
  border: 0;
}
