.section__galery {
  display: flex;
  justify-content: center;
}

.container__galery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  border-radius: 25px;
  background: #f6f6f6;
  max-width: 1240px;
}
